body {
    font-family: cursive,serif;
}
.internet-payment{
    width: 570px;
    background-image: url(../images/download.jpg);
    margin: auto;
    padding: 20px 0;
    background-size: contain;
}
.card{
    width: 80%;
    margin: auto;
    text-align: center;
}
table {
    border-spacing: 0;
}
th, td {
    padding: 15px;
    text-align: center;
}
th , td.btn{
    background: rgb(94 99 106 / 70%);
    color: #ffffff;
    font-size: 21px;
}
td.start-time {
    background: rgb(250,235,215,0.8);
}
td.minute-total {
    background: rgb(243 227 205)
}
td.stop-time {
    background: rgb(214 237 167);
}
td.money-cal {
    background: rgb(214,237,167,0.8);
}
td.cur-date-time {
    background: rgb(70 130 180 / 90%);
    color: white;
    font-weight: 600;
}
i.far.fa-play-circle, #start {
    color: blue;
    font-weight: 600;
}
i.far.fa-stop-circle, #stop {
    color: red;
    font-weight: 600;
}
span#minute, #money {
    color: #28a528;
    font-weight: 600;
}
.minute-total i.fas.fa-stopwatch ,.fa-money-bill-wave{
    color: #737e2c;
    font-weight: 600;
}
button {
    font-family: cursive,serif;
}
button#btn-start,#btn-stop, #btn-clear{
    padding: 5px 25px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
button#btn-start{
    background: #04AA6D;
}
#btn-stop{
    background: rgb(233 43 43);
    display: none;
}
#btn-clear{
    background: rgb(108 176 90);
    display: none;
}
/* button#btn-stop, #btn-clear {
    display: none;
} */